/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal";

.nsm-dialog {
    margin: 10% auto;
    min-height: inherit;
}
.nsm-content {
    padding: 0rem !important;
    margin: 0rem !important;
}

.clickable {
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
table input[type="tel"], table .number {
    text-align: right;
}

.table-clickeable {
    tr {
        cursor: pointer;
    }
    tr.selected {
        background: #c4ddef;
    }
    tr.selected:hover {
        background: #d5dbe0;
    }
}

.fixed{
    position:  fixed;
  }
