{% extends "frontend/costos/base_costos.html" %}
{% load frontend_tags static crispy_forms_tags crispy_forms_field formset_tags bootstrap3 %}
{% block title %}<h2 class="main-title">Carga de proyección de avance de obra</h2>{% endblock %}
{% block title_head %}{{ block.super }} > Carga de proyección de avance de obra{% endblock %}
{% block wide_class %}container{% endblock %}

{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Centro de costo</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 form-centro-costo">
                            {% bootstrap_form obra_form %}
                        </div>
                        <p>{{ obra_form.errors }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <h3>Proyección de avance de obra</h3>
                <div class="row">
                    <div id="avances_formset" data-formset-prefix="{{ avances_formset.prefix }}">
                        {{ avances_formset.management_form }}
                        {% if avances_formset.non_form_errors %}
                            {{ avances_formset|as_crispy_errors }}
                        {% endif %}
                        <div>
                            <table class="table table-striped table-condensed non-fluid">
                                <thead>
                                    <tr>
                                        <th>Periodo</th>
                                        <th>Avance</th>
                                        <th>Observaciones</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody id="formset-{{avances_formset.prefix}}" data-formset-body>
                                <!-- New forms will be inserted in here -->
                                {% for form in avances_formset.forms %}
                                    <tr data-formset-form>
                                        <td {% if form.periodo.errors %} class="has-error"{% endif %}>
                                            {% crispy_field form.periodo %}
                                            {% for error in form.periodo.errors %}
                                            <span id="error_{{ forloop.counter }}_periodo" class="help-block"><strong>{{ error }}</strong></span>
                                        {% endfor %}
                                        </td>
                                        <td {% if form.avance.errors %} class="has-error"{% endif %}>
                                            {% crispy_field form.avance %}
                                            {% for error in form.avance.errors %}
                                                <span id="error_{{ forloop.counter }}_avance" class="help-block"><strong>{{ error }}</strong></span>
                                            {% endfor %}
                                        </td>
                                        <td {% if form.observacion.errors %} class="has-error"{% endif %}>
                                            {% crispy_field form.observacion %}
                                        </td>
                                        <td>
                                            <div class="hidden">{% crispy_field form.DELETE %}</div>
                                            <button type="button" class="btn btn-danger" style="clear:both"
                                            data-formset-delete-button>Quitar</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- The empty form template. By wrapping this in a <script> tag, the
                        __prefix__ placeholder can easily be replaced in both attributes and
                        any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                            <tr data-formset-form>
                                <td>
                                    {% crispy_field avances_formset.empty_form.periodo %}
                                </td>
                                <td>
                                    {% crispy_field avances_formset.empty_form.avance %}
                                </td>
                                <td>
                                    {% crispy_field avances_formset.empty_form.observacion %}
                                </td>
                                <td>
                                    <div class="hidden">{% crispy_field avances_formset.empty_form.DELETE %}</div>
                                    <button type="button" class="btn btn-danger" style="clear:both"
                                    data-formset-delete-button>Quitar</button>
                                </td>
                            </tr>
                            {% endescapescript %}
                        </script>
                        <div class="col-md-4 col-sm-6 mb10">
                            <!-- This button will add a new form when clicked -->
                            <input type="button" class="btn btn-info" value="Añadir una fila" data-formset-add>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input type="submit" value="Guardar" class="submit btn btn-primary mt10" />
        <a class="btn btn-danger mt10" href="{% url 'costos:avances_obra_proyeccion_list' %}" alt="volver">Volver</a>
    </form>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
    (function($){
        $(document).ready(function(){
            $("#id_obra_form-centro_costo").chosen({
                'search_contains':true,
                'no_results_text': "No se encontraron coicidencias!"
            });

            var formDeleteAction = function(event){
                var deletedForm = event.target;
                $(deletedForm).hide();
            };

            $("#avances_formset").formset();
            $("#avances_formset").on("formDeleted", formDeleteAction);
        });
    })(jQuery);
</script>
{% endblock %}
