{% extends 'frontend/layout_base.html' %}
{% load i18n compress pipeline frontend_tags static %}
{% block title_head %}{{ block.super }} > Gestión de costos{% endblock %}
{% block extra_css %}
    <link media="all" href="{% static "nvd3/build/nv.d3.min.css" %}" type="text/css" rel="stylesheet" />
    {% compress css %}
        {% stylesheet 'plugins' %}
    {% endcompress %}
{% endblock %}

{% block wide_class %}container{% endblock %}
{% block content %}
    <div class="row zille-tools">
        <div class="col-lg-6 col-md-9">
            <a class="btn btn-primary btn-md btn-block" href="{% url 'costos:costos_list' %}">
                <div class="col-xs-2">
                    <i class="fa fa-list"></i>
                </div>
                <div class="col-xs-10 text-left">
                    <h4><strong>Costos</strong></h4>
                    <h5>Gestionar costos</h5>
                </div>

            </a>
        </div>
        <div class="col-lg-6 col-md-9">
            <a class="btn btn-info btn-md btn-block" href="{% url 'costos:proyecciones_list' %}">
                <div class="col-xs-2">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="col-xs-10 text-left">
                    <h4><strong>Proyecciones de costos</strong></h4>
                    <h5>Gestionar proyecciones</h5>
                </div>

            </a>
        </div>
        <div class="col-lg-6 col-md-9">
            <a class="btn btn-danger btn-md btn-block" href="{% url 'costos:proyecciones_list' %}">
                <div class="col-xs-2">
                    <i class="fa fa-play"></i>
                </div>
                <div class="col-xs-10 text-left">
                    <h4><strong>Avance de obra</strong></h4>
                    <h5>Gestionar el avance de obra</h5>
                </div>

            </a>
        </div>
        <div class="col-lg-6 col-md-9">
            <a class="btn btn-warning btn-md btn-block" href="{% url 'costos:proyecciones_list' %}">
                <div class="col-xs-2">
                    <i class="fa fa-forward"></i>
                </div>
                <div class="col-xs-10 text-left">
                    <h4><strong>Proyección de avance de obra</strong></h4>
                    <h5>Gestionar las proyecciones</h5>
                </div>

            </a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% compress js %}
        {% javascript 'graphics_js' %}
        <script type="text/javascript">
        (function($){
            $(document).ready(function(){
                $("select").chosen({
                    'search_contains':true,
                    'no_results_text': "No se encontraron coicidencias!"
                });
            });
        })(jQuery);
    </script>
    {% endcompress %}
{% endblock %}
