h3 {
    margin-top: 0px;
}

.table {
    thead {
        tr {
            th {
                padding: 2px;
                font-weight: 500;
                font-size: 10px;
                word-wrap: break-word;
                width: 40px;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 4px;
                font-size: 11px;
                text-align: center;
            }
        }
    }
}
