<h3>
  <a class="btn btn-default" [routerLink]="['/taller', 'valores', { outlets: { tabs: ['tren_rodaje'] } }]">
    <i class="fa fa-chevron-left"></i>
  </a>
  Creando valores de tren de rodaje
</h3>

<div class="row">
  <div class="col-sm-12" *ngIf="is_loading" >
    <i class="fa fa-2x fa-spin fa-spinner"></i>
  </div>
  <div class="col-sm-12" *ngIf="!is_loading" >
    <h4>
        Valor USD anterior: {{ currentDolar | moneda }}
    </h4>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th style="text-align: right;">Vigente desde:</th>
          <th colspan="2">
            <select class="form-control input-sm" name="valido_desde" [(ngModel)]="sel_periodo" required>
                <option *ngFor="let p of get_periodos_disponibles" [ngValue]='p'>
                  {{p.descripcion}}
                </option>
                <option value="" *ngIf="get_periodos_disponibles.length == 0">No hay periodos disponibles</option>
              </select>
          </th>
          <th>USD: {{ targetDolar | moneda }}</th>
          <th>{{ usdDiffStr }}</th>
        </tr>

        <tr>
          <th>Equipo</th>
          <th>Medida Neumático</th>
          <th>Precio neumático actual($)</th>
          <th>Nuevo valor ($)</th>
          <th>Var (%)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of con_neumaticos; let idx = index; trackBy:trackByIndex">
          <td><b>{{ item.equipo.n_interno }}</b> {{ item.equipo.equipo }} {{ item.equipo.marca}} {{ item.equipo.dominio }}</td>
          <td>
            <span [innerHTML]="item.parametros.medidas" *ngIf="item.parametros?.vida_util_neumatico" ></span>
            <span *ngIf="item.parametros?.factor_basico">Oruga</span></td>
          <td>
            {{ item.precio_neumatico | moneda }}
          </td>
          <td>
            <input type="tel" class="form-control input-sm" step="0.01" [(ngModel)]="findValor(item.equipo.id).precio_neumatico" appMyCurrencyFormatter #newV />
          </td>
          <td>{{ diffPrecio(item.precio_neumatico, newV.value) }}</td>
        </tr>
      </tbody>
    </table>

    <h2>
      Equipos sin neumáticos.
    </h2>
    <h3>
      Se actualizará su valor de acuerdo a la variación del dolar:
    </h3>
    <h4>
      Anterior: {{ currentDolar | moneda }} | Actual: {{ targetDolar | moneda }} <strong>{{ usdDiffStr }}</strong>
    </h4>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Costo Mensual</th>
          <th>Nuevo costo aproximado</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of sin_neumaticos; let idx = index;">
            <td><b>{{ item.equipo.n_interno }}</b> {{ item.equipo.equipo }} {{ item.equipo.marca}} {{ item.equipo.dominio }}</td>
            <td>{{ item.costo_total_pesos_mes | moneda }}</td>
            <td>{{ nuevoCostoOruga(item.costo_total_pesos_mes) | moneda }}</td>
          </tr>
      </tbody>
    </table>

    <a class="btn btn-block btn-primary" *ngIf="sel_periodo" (click)="crearNuevosValoresModal()">
      Calcular nuevos valores de tren de rodaje
    </a>
    <p class="alert alert-warning" *ngIf="!sel_periodo">
      Seleccione un periodo de destino
    </p>
  </div>
</div>
