{% extends 'frontend/layout_base.html' %}

{% block title %}<h2 class="main-title">Aplicaciones y herramientas disponibles</h2>{% endblock %}
{% block wide_class %}container{% endblock %}
{% block content %}
    <div class="row zille-tools">
        {# listado de aplicaciones del sistema. Al usuario logeado le aparecerán aquellas que puede acceder #}
        {% for menu in user_menu %}
        <div class="col-lg-6 col-md-9">
            <a class="btn btn-{{ menu.btn_class }} btn-lg btn-block" href="{{ menu.url }}">
                <div class="col-xs-2">
                    <i class="fa fa-{{ menu.icon }}"></i>
                </div>
                <div class="col-xs-10 text-left">
                    <h4><strong>{{ menu.name|capfirst }}</strong></h4>
                    <h5>{{ menu.section|capfirst }}</h5>
                </div>

            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}