<h2>Aplicaciones y herramientas disponibles</h2>
<div class="row zille-tools">
  <div *ngFor="let entry of menu" class="col-lg-4 col-md-6 col-sm-6" [@fadeInAnimation]>
      <a *ngIf="!entry.link" class="btn btn-{{ entry.btn_class }} btn-lg btn-block" href="{{ entry.url }}">
          <div class="col-xs-3">
              <i class="fa fa-{{ entry.icon }} pull-right"></i>
          </div>
          <div class="col-xs-9 text-left">
              <h4><strong>{{ entry.name }}</strong></h4>
              <h5>{{ entry.section }}</h5>
          </div>
      </a>
      <a *ngIf="entry.link" class="btn btn-{{ entry.btn_class }} btn-lg btn-block" [routerLink]="get_link(entry.url)">
        <div class="col-xs-3">
            <i class="fa fa-{{ entry.icon }} pull-right"></i>
        </div>
        <div class="col-xs-9 text-left">
            <h4><strong>{{ entry.name }}</strong></h4>
            <h5>{{ entry.section }}</h5>
        </div>
    </a>
  </div>
</div>
