<div class="col-lg-12">
  <h1><a class="btn btn-default" [routerLink]="['/proyecciones']"><i class="fa fa-chevron-left"></i> </a>
    Proyección de avance de obra - {{ centro_costo?.obra }}</h1>

  <div [ngSwitch]='initialLoading'>
    <div *ngSwitchCase="true">
      <div class="loader">Loading...</div>
    </div>
    <div *ngSwitchCase="false" [@fadeInAnimation]>

    <h2>Revisiones:
      <select class="form-control input-sm select_title" name="revision_actual" [(ngModel)]="revision_actual"
        required [disabled]="isDisabled">
        <option *ngFor="let rev of revisiones" [ngValue]='rev'>
          <span *ngIf="rev.es_base">BASE {{ rev.base_numero }}</span>
          <span *ngIf="!rev.es_base">{{ rev.periodo.descripcion }}</span>
        </option>
      </select>
      <button class="btn btn-sm btn-info" title="Volver a cargar desde la base de datos"
        (click)="refresh(centro_costo.id, revision_actual.periodo_id)">
        <i class="fa fa-refresh"></i>
      </button>
      <small>Seleccione la revisión de la proyección que desea visualizar.</small>
    </h2>
    <hr />

  <h3 *ngIf="revision_actual">Periodo del reporte:
      <select class="form-control input-sm select_title" name="periodo_ajuste"
          [(ngModel)]="revision_actual.periodo_id" required [disabled]="isDisabled"
          >
        <option *ngFor="let periodo of periodos" [value]='periodo.pk'>
          {{ periodo.descripcion }}
        </option>
      </select>
    </h3>
  <table class="table table-hover table-bordered" *ngIf="revision_actual?.items.length > 0">
    <thead>
      <tr>
        <th>Periodo</th>
        <th>Avance</th>
        <th>Acumulado</th>
        <th>Real</th>
        <th>Acumulado Consolidado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let avance of revision_actual?.items; let i = index; trackBy:trackByIndex" [@fadeInAnimation]
          [ngClass]="itemIsValid(avance) ? '' : 'danger'">
        <td>
          <select class="form-control input-sm" name="periodo_{{i}}" [(ngModel)]="revision_actual?.items[i].periodo" required [disabled]="isDisabled">
            <option *ngFor="let periodo of periodos" [value]='periodo.pk'>
              {{ periodo.descripcion }}
            </option>
          </select>
        </td>
        <td>
          <div class="input-group input-group-sm">
            <input myCurrencyFormatter [readonly]="isDisabled"
                type="tel" class="form-control input-sm number" name="avance_{{i}}"
                [(ngModel)]="revision_actual?.items[i].avance" #avanceVal/>
            <span class="input-group-addon">{{ avanceVal.value | porciento }}</span>
          </div>
        </td>
        <td class="info number">
          {{ acumulado(avance) | porciento }}
        </td>
        <td class="success number">
          <span *ngIf="find_real(avance); let real">{{ real?.avance | porciento }}</span>
        </td>
        <td class="danger number">
          {{ acumuladoConsolidado(avance) | porciento }}
        </td>
        <td>
          <button class="btn btn-danger btn-sm"
            (click)="eliminarAvanceObra(avance)"><i class="fa fa-trash"></i> Quitar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-warning btn-sm mb10" (click)="aniadirAvanceObra()"><i class="fa fa-plus"></i> Añadir item a proyección</button>
  <p class="alert alert-info" *ngIf="revision_actual?.items.length == 0">
    Sin ítem en esta revisión. Añadílos haciendo clic en "Añadir ítem a proyección"
  </p>
  <div>
    <button class="btn btn-success" (click)="guardarActualModal()" [disabled]="isDisabled">
      <i class="fa fa-save"></i>
      <span *ngIf="!isDisabled && revision_actual.es_base"> Guardar linea base</span>
      <span *ngIf="!isDisabled && !revision_actual?.es_base"> Guardar revisión</span>
      <span *ngIf="isDisabled">Procesando...</span>
    </button>
    <button class="btn btn-primary" (click)="create_new_version_modal()" [disabled]="isDisabled">
        <i class="fa fa-plus"></i>
        <span *ngIf="!isDisabled">Guardar como nueva revisión</span>
        <span *ngIf="isDisabled">Procesando...</span>
    </button>
    <button class="btn btn-danger pull-right" (click)="deleteRevisionActual()" [disabled]="isDisabled" *ngIf="!revision_actual?.es_base">
        <i class="fa fa-trash"></i>
        <span *ngIf="!isDisabled">Eliminar revisión</span>
        <span *ngIf="isDisabled">Procesando...</span>
    </button>
    <button class="btn btn-info" (click)="establecerComoBaseModal()" [disabled]="isDisabled" *ngIf="!revision_actual?.es_base">
        <span *ngIf="!isDisabled">Establecer nueva BASE a partir de esta revisión</span>
        <span *ngIf="isDisabled">Procesando...</span>
    </button>
  </div>
</div>
</div>

