<div [ngSwitch]='loading<3'>
  <div *ngSwitchCase="true">
    <p class="label label-danger">Cargando certificación...</p>
    <!-- all of the inline styles and massive SVG markup for my spinner -->
  </div>
  <div *ngSwitchCase="false" [@fadeInAnimation]>
    <h2>
      <a class="btn btn-default" [routerLink]="['/certificaciones']">
        <i class="fa fa-chevron-left"></i>
      </a>
      <span *ngIf="!certificacion?.pk">Nueva Certificación</span>
      <span *ngIf="certificacion?.pk">Modificar Certificación</span>
    </h2>

    <form class="horizontal-form" name="certificacion-form" #f="ngForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{ 'has-error': !f.form.controls.obra?.valid }">
            <label>Obra:</label>
            <select class="form-control input-sm" name="obra" [(ngModel)]="certificacion.obra_id" required>
              <option *ngFor="let centro of centro_costos" [value]='centro.id'>
                {{centro.codigo}}
              </option>
            </select>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': !f.form.controls.periodo?.valid }">
            <label>Periodo:</label>
            <select class="form-control input-sm" name="periodo" [(ngModel)]="certificacion.periodo_id" required>
              <option *ngFor="let periodo of periodos" [value]='periodo.pk'>
                {{periodo.descripcion}}
              </option>
            </select>
          </div>
          <table class="table table-hover table-bordered" id="table-costos">
            <thead>
              <tr class="success">
                <th colspan="5" class="text-center">Ítems</th>
              </tr>
              <tr>
                <th colspan="2">Descripción</th>
                <th>Monto ($)</th>
                <th>¿Es adicional?</th>
                <th class="trash">
                  <i class="fa fa-trash"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of certificacion.items; let i = index; trackBy:trackByIndex" [ngClass]="itemIsValid(item) ? '' : 'danger'"
                [@fadeInAnimation]>
                <td>
                  <i class="fa fa-2x" [ngClass]="itemIsValid(item) ? 'fa-check text-success' : 'fa-exclamation text-warning'"></i>
                </td>
                <td>
                  <input type="text" class="form-control input-sm" name="descripcion_{{i}}" [(ngModel)]="certificacion.items[i].descripcion"
                    required>
                </td>
                <td>
                  <div class="input-group input-group-sm">
                    <input type="tel" class="form-control input-sm number" name="monto_{{i}}" [(ngModel)]="certificacion.items[i].monto" />
                    <span class="input-group-addon">$ {{ certificacion.items[i].monto || 0 | number:'1.2-2' }}</span>
                  </div>
                </td>
                <td>
                  <input type="checkbox" class="form-control input-sm" name="adicional_{{i}}" [(ngModel)]="certificacion.items[i].adicional"
                  />
                </td>
                <td class="trash">
                  <i class="fa fa-2x fa-trash clickable text-danger" (click)="removeItem(item)"></i>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <button class="btn btn-info btn-sm" (click)="addItem()">Añadir ítem</button>
                </th>
                <th class="text-right">$ {{ total_items || 0 | number:'1.2-2' }}</th>
                <th colspan="2"></th>
              </tr>
            </tbody>
          </table>
          <fieldset [disabled]="!checkAllItem() || !f.valid">
              <a class="btn btn-default" [routerLink]="['/certificaciones']">
                <i class="fa fa-chevron-left"></i> Volver
              </a>
              <button *ngIf="!certificacion?.pk" class="btn btn-success"
                  (click)="create_certificacion_modal()">Crear Certificación</button>
              <button *ngIf="certificacion?.pk" class="btn btn-success"
                  (click)="save_certificacion_modal()">Guardar cambios</button>
              <span class="text text-danger" *ngIf="!checkAllItem() || !f.valid">Por favor, corrija todos los errores para habilitar los botones.</span>
            </fieldset>
        </div>
      </div>
    </form>
  </div>
</div>
