{% load frontend_tags %}
<div>
    {% if data.costos %}

    <table class="table table-responsive table-bordered table-striped table-hover" id="table-resumen">
        <thead>
            <tr>
                <th>TIPO DE COSTO</th>
                {% for cc_id in data.costos.keys %}
                    <th>
                        {{ data.cc_headers|from_dict:cc_id|slice:"20" }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for costo_k, costo_v in data.costos_headers.items %}
            <tr>
                <td>{{ costo_v }}</td>
                {% for cc_cost in data.costos.values %}
                <td>{{ cc_cost|from_dict:costo_k|money }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Totales</th>
                {% for cc_id in data.costos.keys %}
                    <th>{{ data.costos_totales|from_dict:cc_id|money }}</th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
        <p class="alert alert-danger">
            TOTAL: <strong>{{ data.costos_totales|sum_dict|money }}</strong>
        </p>
    {% else %}
        <p class="alert alert-warning">
            No existen datos para el periodo seleccionado.
        </p>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Resumen de costos - Totales
                </div>
                <div class="panel-body">
                    <div class="resumen" id="resumen">
                        <svg style="width: 100%;height:500px;"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Resumen de costos - Percentual
                </div>
                <div class="panel-body">
                    <div class="resumen" id="resumen-pie">
                        <svg style="width: 100%;height:500px;"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
